<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BH Saúde</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />

    <!------ FontAwesome ------->
    <script
      src="https://kit.fontawesome.com/c8e4d183c2.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
      rel="stylesheet"
    />
  </head>

  <header>
    <a href="/index" style="color: #000; text-decoration: none">
      <div class="logo" style="margin-top: 10px">BH Saúde</div>
    </a>
    <input type="checkbox" id="nav_check" hidden />
    <nav>
      <ul>
        <li>
          <a href="/receitas" class="active">Receitas</a>
        </li>
        <li>
          <a href="/alimentos" class="">Alimentos</a>
        </li>
        <li>
          <a href="/gerador">Crie sua Dieta</a>
        </li>
        <li>
          <a href="/profile">Conta</a>
        </li>
        <li></li>
        <li>
          <a class="carrinho" href="/mercado"
            ><i class="fa fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </nav>
    <label for="nav_check" class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </label>
  </header>

  #if($flash)
  <div class="success">
    		<div class="success__icon">
      			<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        		<path clip-rule="evenodd" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" fill="#393a37" fill-rule="evenodd"></path>
      			</svg>
    		</div>
    		<div class="success__title">$flash</div>
    		<div class="success__close">
      			<svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
        		<path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z" fill="#393a37"></path>
      			</svg>
    		</div>
		</div>
    #end

   <div class="add adjust">
    <form action="/avalie/$receita.id_receita" method="post" class="formulario">
      <div class="cont">
        <p class="title">Avaliação</p>
        <button
          type="button"
          class="cancel"
          style="border: none; background-color: transparent"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <p class="message"><b>O que achou dessa receita?</b></p>

      <div class="rating">
        <input value="5" name="rating" id="star1" type="radio" />
        <label for="star1"></label>
        <input value="4" name="rating" id="star2" type="radio" />
        <label for="star2"></label>
        <input value="3" name="rating" id="star3" type="radio" />
        <label for="star3"></label>
        <input value="2" name="rating" id="star4" type="radio" />
        <label for="star4"></label>
        <input value="1" name="rating" id="star5" type="radio" />
        <label for="star5"></label>
      </div>

      <label>
        <textarea
          style="height: 100px"
          type="text"
          class="input"
          placeholder="Descrição"
          name="descricao"
        ></textarea>
      </label>

      <button type="submit" class="submit">Avalie</button>
    </form>
  </div>

  <body>
    <div class="overlay hidden"></div>

    <div class="cabeca">
      <div class="texto">
        <p
          style="
            text-decoration: none;
            color: black;
            font-size: x-small;
            margin-bottom: 2px;
          "
        >
          <a href="/index" style="text-decoration: none">BH Súde </a
          ><a style="text-decoration: none" href="/sobremesas"
            >> $receita.getHorario()</a
          >
          <b>> $receita.getNome()</b>
        </p>
        <h1>$receita.getNome()</h1>
      </div>
    </div>

    <div class="i">
      <div class="estrelas">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <p>
          <b><span id="nota">$receita.getNota()</span></b
          >/5
        </p>
        <p style="font-size: x-small">($total) avaliações</p>
        <button class="avalie">
          <i class="far fa-star"></i>
          <p style="font-size: small"><b>Avalie essa receita</b></p>
        </button>
      </div>
    </div>

    <div class="video">
      <iframe
        class="video"
        width="750"
        height="550"
        src="https://www.youtube.com/embed/$receita.getCodigoVideo()"
        frameborder="0"
        allow="accelerometer; autoplay; fullscreen; clipboard-write; encrypted-media; gyroscope; picture-in"
      ></iframe>
    </div>
    <div class="info">
      <div class="info-text">
        <div class="item">
          <p>$receita.getTempo() min</p>
        </div>
        <div class="item">
          <i class="far fa-clock" style="margin-top: 6px; margin-left: 5px"></i>
          <p>$receita.getTipoReceita()</p>
        </div>
        <div class="item">
          <i
            class="fa-plate-wheat"
            style="margin-left: 4px; margin-top: 6px"
          ></i>
          <p>$receita.getTotalCalorias() kcal</p>
        </div>
        <i
          class="fas fa-utensils"
          style="margin-top: 0px; margin-left: 5px"
        ></i>
      </div>
    </div>
    <div class="preparo">
      <h2>Modo de preparo:</h2>
      #foreach($pa in $passos)
      <div class="passo">
        <div class="numero">$pa.numero</div>
        <div class="descricao">$pa.getDescricaoPasso()</div>
      </div>
      #end
    </div>

    <div class="preparo">
      <h2>Ingredientes</h2>
      <div class="lista">
        <ul>
          #foreach($ing in $ingredientes) #if($ing.getObservacao())
          <li>
            - $ing.getObservacao() de $ing.getNomeIngrediente()
            ($ing.getQuantidade()g)
          </li>
          #else
          <li>- $ing.getNomeIngrediente() ($ing.getQuantidade()g)</li>

          #end #end
        </ul>
      </div>
    </div>
  </body>
  <footer style="height: 100px"></footer>

   <div class="overlay hidden"></div>

  <style>
    .texto {
      text-align: center;
    }

    .cabeca {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 300px;
      margin-right: 300px;
      height: 100px;
    }

    .i {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .estrelas {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 0px;
    }

    .estrelas p {
      margin-left: 7px;
    }

    .star {
      font-size: 24px;
      color: #f5f5f5;
    }

    .star.filled {
      color: gold;
    }

    .star,
    .far {
      margin-top: -15px;
    }

    .avalie {
      margin-top: -15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-left: 40px;
      width: 170px;
      height: 30px;
      background-color: #4aa2f4;
      color: white;
      border-radius: 20px;
      border: transparent;
    }

    .avalie:hover {
      opacity: 0.5;
    }

    .avalie p {
      margin: 0;
    }

    .avalie .fa-star {
      margin: 0;
    }

    /* video */

    .video {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      border-radius: 8px;
    }

    /* Info */

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      height: 50px;
      background-color: aliceblue;
      margin-left: 385px;
      margin-right: 385px;
      border-style: solid;
      border-width: 1.5px;
      border-color: #4aa2f4;
    }

    .info-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item p {
      margin: 0;
    }

    .item .far,
    .fas {
      margin: 0;
    }

    .item {
      display: flex;
      justify-content: center;
      gap: 50px;
    }

    /* preparo */

    .preparo {
      display: block;
      justify-content: left;
      padding-left: 17%;
      padding-right: 17%;
      padding-top: 3%;
    }

    .preparo h2 {
      margin-bottom: 25px;
    }

    .passo {
      display: flex;
      align-items: flex-start;

      margin-bottom: 25px;
    }

    .numero {
      width: 30px;
      height: 30px;
      background-color: dodgerblue;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 15px;
      flex-shrink: 0;
    }

    .descricao {
      flex-grow: 1;
    }

    /* Ingredientes */

    .lista ul {
      list-style-type: none;
      padding: 0;
    }

    .lista li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: large;
    }

    /* Navbar */

    header {
      position: sticky;
      background: #fff;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

    header a {
      text-decoration: none;
      color: #333; /* Dark grey text */
    }

    header .logo {
      font-size: 24px;
      font-weight: bold;
      color: dodgerblue; /* Brand color */
      text-transform: uppercase;
    }

    header nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }

    header nav ul li a {
      padding: 10px 15px;
      margin: 0 5px;
      font-weight: 500;
      text-transform: uppercase;
      transition: color 0.3s ease, border-color 0.3s ease;
    }

    header nav ul li a:hover,
    header nav ul li a.active {
      opacity: 0.7;
      border-bottom: 2px solid dodgerblue;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .hamburger div {
      background-color: #333;
    }

    @media (max-width: 900px) {
      header {
        padding: 0 20px;
      }
    }

    @media (max-width: 700px) {
      .hamburger {
        display: block;
      }

      header nav {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
      }

      header #nav_check:checked ~ nav {
        transform: translateX(0);
      }

      header nav ul {
        flex-direction: column;
        align-items: center;
      }

      header nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    /* Forms */
    .hidden {
      display: none;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(3px);
      z-index: 5;
    }

    .add {
      z-index: 10;
    }

    .formulario {
      position: fixed;
      left: 33%;
      top: 10%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 550px;
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      position: relative;
      z-index: 10;
    }

    .cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .title {
      font-size: 28px;
      color: royalblue;
      font-weight: 600;
      letter-spacing: -1px;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 30px;
    }

    .title::before,
    .title::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      background-color: royalblue;
    }

    .title::before {
      width: 18px;
      height: 18px;
      background-color: royalblue;
    }

    .title::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
    }

    .message,
    .signin {
      color: #000;
      font-size: 14px;
      text-align: center;
    }

    .signin {
      text-align: center;
    }

    .signin a {
      color: royalblue;
    }

    .signin a:hover {
      text-decoration: underline royalblue;
    }

    .flex {
      display: flex;
      width: 100%;
      gap: 6px;
    }

    .formulario label {
      position: relative;
    }

    .formulario label .input {
      width: 100%;
      padding: 10px 10px 20px 10px;
      outline: 0;
      border: 1px solid rgba(105, 105, 105, 0.397);
      border-radius: 10px;
    }

    .formulario label .input + span {
      position: absolute;
      left: 10px;
      top: 15px;
      color: grey;
      font-size: 0.9em;
      cursor: text;
      transition: 0.3s ease;
    }

    .formulario label .input:placeholder-shown + span {
      top: 15px;
      font-size: 0.9em;
    }

    .formulario label .input:focus + span,
    .formulario label .input:valid + span {
      top: 30px;
      font-size: 0.7em;
      font-weight: 600;
    }

    .formulario label .input:valid + span {
      color: green;
    }

    .submit {
      border: none;
      outline: none;
      background-color: royalblue;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      transform: 0.3s ease;
    }

    .submit:hover {
      background-color: rgb(56, 90, 194);
    }

    /* rating */

    .rating {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: -35px;
    }

    .rating input {
      display: none;
    }

    .rating label {
      float: right;
      cursor: pointer;
      color: #ccc;
      transition: color 0.3s;
    }

    .rating label:before {
      content: "\2605";
      font-size: 40px;
    }

    .rating input:checked ~ label,
    .rating label:hover,
    .rating label:hover ~ label {
      color: gold;
      transition: color 0.3s;
    }

    @keyframes pulse {
      from {
        transform: scale(0.9);
        opacity: 1;
      }

      to {
        transform: scale(1.8);
        opacity: 0;
      }
    }

    /* Mensagem de Inserção */

    
.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EDFBD8;
  border-radius: 8px;
  border: 1px solid #84D65A;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #84D65A;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #2B641E;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #2B641E;
}
  </style>
  <script>
    let form = document.querySelector(".add");
    let btnAdd = document.querySelector(".avalie");
    let btnCriar = document.querySelector(".submit");
    let overlay = document.querySelector(".overlay");
    let btnCancel = document.querySelector(".cancel");

    form.classList.add("hidden");

    btnAdd.addEventListener("click", function () {
      form.classList.remove("hidden");
      overlay.classList.remove("hidden");
    });

    btnCancel.addEventListener("click", function () {
      form.classList.add("hidden");
      overlay.classList.add("hidden");
    });

    const notaElement = document.getElementById("nota");
    const nota = parseFloat(notaElement.textContent);
    notaElement.textContent = nota.toFixed(2);

    // Seleciona todas as estrelas
    const estrelas = document.querySelectorAll(".star");

    // Calcula o número de estrelas preenchidas
    const estrelasPreenchidas = Math.round(nota);

    // Adiciona a classe 'filled' às estrelas correspondentes
    for (let i = 0; i < estrelasPreenchidas; i++) {
      estrelas[i].classList.add("filled");
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var closeButton = document.querySelector(".success__close");
        var successMessage = document.querySelector(".success");

        if (closeButton && successMessage) {
            closeButton.addEventListener("click", function() {
                successMessage.style.display = "none";
            });
        }

        // Opcional: Esconder automaticamente após um certo tempo (5 segundos)
        setTimeout(function() {
            if (successMessage) {
                successMessage.style.display = "none";
            }
        }, 5000); // 5000 milissegundos = 5 segundos
    });
</script>
</html>
