<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

  <header>
    <a href="/index" style="color: #000; text-decoration: none">
      <div class="logo" style="margin-top: 10px">BH Saúde</div>
    </a>
    <input type="checkbox" id="nav_check" hidden />
    <nav>
      <ul>
        <li>
          <a href="/index" class="">Home</a>
        </li>
        <li>
          <a href="" class="">Receitas</a>
        </li>
        <li>
          <a href="/gerador">Crie sua Dieta</a>
        </li>
        <li>
          <a class="active" href="/profile">Conta</a>
        </li>
        <li></li>
        <li>
          <a class="carrinho" href="/mercado"
            ><i class="fa fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </nav>
    <label for="nav_check" class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </label>
  </header>

<body>
    <!-- Perfil do usuário -->
    <div class="flex items-center justify-center">
        <div class="profile-container border-2 border-blue-400 w-50 rounded-xl p-10 m-10 shadow-2xl">
            <div class="profile-info">
                <h1 class="text-center text-2xl mb-3">Informações do Usuário:</h1>
                <p class ="p-2"><strong>Nome:</strong> $user.getNome()</p>
                <p class ="p-2"><strong>Email:</strong> $user.getEmail()</p>
                
                #if($calorias && $calorias.getCalorias() > 0)
                    <p class ="p-2"><strong>Calorias:</strong> $calorias.getCalorias()</p>
                #else
                    <p class ="p-2">Calorias não encontradas.</p>
                #end
                
                <p class ="p-2"><strong>Outras Informações:</strong> Outros detalhes sobre o usuário</p>
                
            </div>
          <div class="flex justify-center space-x-2 mt-4">
    <a href="/logout" class="bg-blue-400  px-12 py-2 rounded-lg font-semibold text-sm text-white hover:text-white hover:bg-blue-600 transition duration-300 ease-in-out">Sair</a>
    <a href="/delete" class="bg-blue-400  px-4 py-2 rounded-lg font-semibold text-sm text-white hover:text-white hover:bg-blue-600 transition duration-300 ease-in-out">Deletar Conta</a>
</div>
  </div> 
    </div>
</body>

<style> 
 /* Navbar */

    header {
      position: sticky;
      background: #fff;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

    header a {
      text-decoration: none;
      color: #333; /* Dark grey text */
    }

    header .logo {
      font-size: 24px;
      font-weight: bold;
      color: dodgerblue; /* Brand color */
      text-transform: uppercase;
    }

    header nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }

    header nav ul li a {
      padding: 10px 15px;
      margin: 0 5px;
      font-weight: 500;
      text-transform: uppercase;
      transition: color 0.3s ease, border-color 0.3s ease;
    }

    header nav ul li a:hover,
    header nav ul li a.active {
      opacity: 0.7;
      border-bottom: 2px solid dodgerblue;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .hamburger div {
      background-color: #333;
    }

    @media (max-width: 900px) {
      header {
        padding: 0 20px;
      }
    }

    @media (max-width: 700px) {
      .hamburger {
        display: block;
      }

      header nav {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
      }

      header #nav_check:checked ~ nav {
        transform: translateX(0);
      }

      header nav ul {
        flex-direction: column;
        align-items: center;
      }

      header nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  
</style>
      <script src="assets/js/script.js"></script>

</html>

